{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>

    <h3>Comments</h3>
    {% for comment in comments %}
        <strong>{{ comment.author.username }}</strong> said : {{ comment.content }}<br>
    {% else %}
        No comments yet.
    {% endfor %}

    <h3>Add a comment</h3>
    {% if commentForm %}
    	 {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% form_theme commentForm 'bootstrap_3_horizontal_layout.html.twig' %}
        
        {{ form_start(commentForm) }}
        
        {{ form_row (commentForm.email) }}
        {{ form_widget(commentForm.email) }}
        
        {{ form_row (commentForm.website) }}
        {{ form_widget(commentForm.website) }}
        
        {{ form_row (commentForm.content) }}
        {{ form_widget(commentForm.content) }}
    
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
        {{ form_end(commentForm) }}

    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
</p>
{% endblock %}
