body { 
    padding-top: 50px; 
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

article>p {
	text-align:justify;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}